.navbar{
  background-color: #F6CF50;
  color: rgb(251,251,251);
  padding: 10px 20px;
  font-size: larger;
}

.container{
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}
.container input{
  padding: 10px 10px;
  border: 2px solid blueviolet;
  border-radius: 20px;
  outline: 0;
}
.container button{
  padding: 10px 15px;
  cursor: pointer;
  background-color: blueviolet;
  color: rgb(251,251,251);
  outline: 0;
  border: 0;
  border-radius: 20px;
  font-size: larger;
  margin-bottom: 20px;
}

.item{
  display: flex ;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 5px;
  transition: background-color 0.2s ease;
  min-width: 200px;
  padding: 10px;
  background-color: rgb(230,230,230);
}
.item:hover{
  background-color: rgb(200,200,200);
}
.icons i{
  cursor: pointer;
  margin-left: 5px;
}
.icons i.fa-trash{
  color: red;
}
.icons i.fa-pen-to-square{
  color: lightgreen;
}